body {
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  background-image: url('/환전소\ 로고.png'); /* 배경 이미지 경로 */
  background-position: center -1%; /* 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
}

.head {
  background-image: url(/환전소\ 로고.png);
}

.home {
  position: absolute;
  top: 35%;
  left: 37.75%;
  transform: translateY(-10%);
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8); /* 투명한 흰색 배경을 추가해 가독성 향상 */
  padding: 10px; /* 내부 여백 추가 */
  border-radius: 10px; /* 모서리 둥글게 처리 */
}

.exchange-box {
  border: 1px solid black;
  width: 400px;
  height: 130px;
  justify-content: center;
  size: 50%;
}


.input-area {
  width: 100%;
}

.input-area input {
  width: 93%;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 32px;
  text-align: right;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.equal-sign {
  text-align: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: rgb(255, 255, 255) ;
  color: black;
  padding: 10px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-bottom: solid 1px black;
  display: flex; /* 플렉스 박스 사용 */
  justify-content: space-between; /* 공간을 균등하게 배분 */
  align-items: center; /* 세로 가운데 정렬 */
}

.dropbtn span {
  display: flex;
  align-items: center;
}

.dropbtn i {
  margin-left: 40px; /* 텍스트와 아이콘 사이 간격 조정 */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
} */


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(111, 197, 255);
}

.fa-arrow-down {
  font-size: 80%;
}

.from-display {
  margin-left: 12px;
  margin-right: 13px;
  font-size: 12px;
  float: right;
}

.to-display {
  margin-left: 12px;
  margin-right: 13px;
  font-size: 12px;
  float: right;
}